<h1>Replica Wyzard</h1>
<div id="login">
  <a><%= link_to "Administrative Login", products_path %></a>
</div>
<h2>Search by Keywords:</h2>
<%= form_tag results_path do %>
  <%= label_tag "Search" %>
  <%= text_field_tag(:keywords) %>
  <%= submit_tag "Search" %>
<% end %>
<h2>Search by Category:</h2>
<nav>
  <% @categories.each do |c| %>
    <%= link_to c.name, category_path(c.id) %>
  <% end %>
</nav>

<div class="products">
  <%= render :partial => 'products/product', :collection => @products, :locals => {:truncate_it => true} %>
  
</div>