<div class="product">
  <h2>
    <%= product.name %>
  </h2>
  <% if product.image.present? %>
    <p>
      <%= link_to image_tag(product.image, :height => "175"), product %>
    </p>
  <% else %>
    <p class="no_image">
      <em>No product image.</em>
    </p>
  <% end %>
  <p>
    <b>Description:</b>
    <% if truncate_it == true then%>
    <%= truncate(product.description, :length => 40) %> <%= link_to "Read More", product %>
    <% else %>
      <%= product.description %>
    <% end %>
  </p>
  <p>
    <b>Category:</b>
    <% if product.category.present? %>
      <%= product.category.name %>
    <% else %>
      No Category
    <% end %>
  </p>
  <p>
    <b>Quantity:</b>
    <%= product.quantity %>
  </p>
  <p>
    <b>Price:</b>
    <%= product.cost %>
  </p>
  <div class="actions">
    <%= link_to 'Show More', product %>
  </div>
</div>