<div id="banner">
  <%= link_to image_tag("Untitled.png", :height => "190"), root_path %> 
</div>
<h1>Listing products</h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= image_tag product.image, :height => "175", :width => "200" %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.category %></td>
    <td><%= product.quantity %></td>
    <td><%= product.cost %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
